{{define "main"}}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Highload Architect — Go Production Sandbox</title>
    <!-- Динамическая b2b-инвалидация кэша стилей через компилятор Go -->
    <link rel="stylesheet" href="/static/css/style.css?v={{.Version}}">
</head>
<body>

    <!-- Динамический контент страниц-акцепторов (SOLID композиция) -->
    {{template "content" .}}

</body>
</html>
{{end}}
